NODE_ENV=
DATABASE_URL=
AUTH_GOOGLE_SECRET=
AUTH_GOOGLE_ID=
AUTH_SECRET=
AUTH_URL=
POS_URL=
ADMIN_URL=
NEXT_PUBLIC_TAX_RATE=0

// S3 configuration
NEXT_PUBLIC_S3_ROOT_PATH=
NEXT_PUBLIC_S3_BUCKET_NAME=anphatfood
NEXT_PUBLIC_AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=